@import "../abstracts/color-palette.scss";
@import "../abstracts/variables.scss";

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  background-color: $bg-main;
  color: $black;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote {
  &:before,
  &:after {
    content: "";
    content: none;
  }
}

q {
  &:before,
  &:after {
    content: "";
    content: none;
  }
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  outline: 0 !important;

  &:active,
  &:focus {
    outline: 0 !important;
  }
}

ul {
  margin: 0;
  padding: 0;
}

.tab-breadcrumb {
  display: inline;
  font-size: 14px;
  font-family: Rubik, sans-serif;
}

::-webkit-scrollbar {
  $border-radius: 3px;
  width: 6px !important;
  height: 6px !important;

  &-track {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: $border-radius;
  }

  &-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: $border-radius;
  }

  &-thumb:hover {
    background-color: rgba(0, 0, 0, 0.3);
  }
}

/*=============================================
=               CSS RESETS                    =
=============================================*/
