@import "../abstracts/index";

/*-------- rubik font -----------*/
@font-face {
  font-family: "rubik";
  font-weight: 300;
  src: url("../../fonts/rubik/Rubik-Light.ttf") format("opentype");
}
@font-face {
  font-family: "rubik";
  font-weight: 400;
  src: url("../../fonts/rubik/Rubik-Regular.ttf") format("opentype");
}
@font-face {
  font-family: "rubik";
  font-weight: 500;
  src: url("../../fonts/rubik/Rubik-Medium.ttf") format("opentype");
}
@font-face {
  font-family: "rubik";
  font-weight: 700;
  src: url("../../fonts/rubik/Rubik-Bold.ttf") format("opentype");
}
/*--------- rubik font ---------*/
