.bm-btn {
  width: max-content;
  height: 100%;
  color: $white;
  background: none;
  border: 1px solid transparent;
  border-radius: 4px;
  transition: 0.2s all;
  justify-content: center;
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  &:focus {
    box-shadow: none;
  }

  &.bm-main {
    background-color: $primary-main;
  }
  &.bm-secondary {
    background-color: $secondary-main;
  }
  &.bm-secondary-opacity {
    border-color: $secondary-main;
    background-color: $white;
    color: $black;

    &:hover {
      background-color: $secondary-main;
      color: $white;
    }
  }
}
