.exchanger-wrapper {
  margin-top: 1rem;
  flex-wrap: wrap;

  .exchanger {
    width: 75%;
    flex-wrap: wrap;
    // padding: 2rem;

    .exch-control {
      flex-basis: 40%;
    }
    .switch {
      flex-basis: 20%;
      img {
        height: 30px;
      }
    }
  }
  .amount {
    width: 23%;
    margin-inline-end: 2%;
    input {
      height: 30px;
    }
  }
  .convert {
    flex-basis: 100%;
    margin-top: 0.5rem;
  }
  .form-label {
    margin-bottom: 0.2rem;
  }
}
