<div class="exchanger-wrapper d-flex">
  <div class="amount d-flex-column">
    <label class="form-label" for="value"> {{ "Amount" | translate }} </label>
    <input type="number" [(ngModel)]="value" />
  </div>
  <div class="exchanger flex-center-all">
    <!-- Convert From -->
    <div class="exch-control d-flex-column">
      <label class="form-label" for="value"> {{ "From" | translate }} </label>
      <select class="form-control" [(ngModel)]="fromCurrency">
        <option *ngFor="let option of currencyOptions" [value]="option">
          {{ option }}
        </option>
      </select>
    </div>

    <!-- switch-icon -->
    <div class="switch flex-center-all" (click)="onSwitch()">
      <img
        class="cursor-pointer switch-icon"
        src="../../../../../assets/images/icon-exchanger.svg"
        alt=""
      />
    </div>

    <!-- Convert To -->
    <div class="exch-control d-flex-column">
      <label class="form-label" for="value"> {{ "To" | translate }} </label>
      <select class="form-control" [(ngModel)]="toCurrency">
        <option *ngFor="let option of currencyOptions" [value]="option">
          {{ option }}
        </option>
      </select>
    </div>

    <!-- Convert Button -->
    <div class="convert">
      <button class="bm-btn bm-main w-100" (click)="onConvert()">
        {{ "Convert" | translate }}
      </button>
    </div>
  </div>

  <div class="w-100">
    <ng-content></ng-content>
  </div>
</div>
