<bm-exchanger (convert)="onConvert($event)">
  <div class="d-flex">
    <div class="equion border-light flex-center-all">
      <ng-container *ngIf="convertObj">
        {{ convertObj.value }}
        {{ convertObj.from }} =
        {{ convertObj.amount }}
        {{ convertObj.to }}
      </ng-container>
    </div>

    <div class="amount d-flex flex-wrap">
      <div class="value border-light flex-center-all">
        <span *ngIf="convertObj">
          {{ convertObj.amount }} {{ convertObj.to }}
        </span>
      </div>
      <button  *ngIf="convertObj" class="bm-btn bm-secondary"  [routerLink]="['/currency_exchanger/details', convertObj.from, convertObj.to, convertObj.value]">
        {{ "More Details" | translate }}
      </button>
    </div>
  </div>
</bm-exchanger>

<div class="cards-wrapper d-flex flex-wrap">
  <ng-container *ngFor="let item of pupilarListCurrency">
    <div class="card">
      <p>
        {{ item.value }} <label class="primary-main"> {{ item.from }}</label>
      </p>
      =
      <p>
        {{ item.amount }} <label class="primary-main"> {{ item.to }}</label>
      </p>
    </div>
  </ng-container>
</div>
