@import "../../../../../assets/styles/abstracts/color-palette.scss";
:host {
  display: inline-block;
  width: 100%;
}

.equion {
  align-self: center;
  height: 40px;
  width: 23%;
  margin-inline-end: 2%;
}

.amount {
  width: 75%;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
  .value {
    width: 65%;
    height: 60px;
    margin-inline-end: 4%;
  }
  .bm-btn {
    height: fit-content;
    width: 30%;
  }
}
.cards-wrapper {
  margin-top: 2rem;
  .card {
    width: 30%;
    border: 1px solid $line-shade-gray;
    padding: 10px;
    border-radius: 5px;
    margin: 5px;
    box-shadow: 0px 5px 5px 0 rgba(0, 0, 0, 0.08);
  }
}

.border-light {
  border: 1px solid $line-shade-gray;
  border-radius: 5px;
}
