@import "../../../../../assets/styles/abstracts/index";
nav {
  background-color: $aliceblue;
  box-shadow: 0px 0px 4px transparentize($black, 0.84);

  .actions-buttons {
    height: fit-content;
    gap: 4px;
    margin: 1rem;
  }

  .logo {
    margin-inline-start: 1rem;

    img {
      max-width: 150px;
    }
  }
}
