<nav class="w-100 d-flex justify-content-between">
  <div class="logo">
    <img src="../../../../../assets/images/bmp-logo.png" alt="" srcset="" />
  </div>
  <div class="actions-buttons d-flex">
    <button
      class="bm-btn bm-main"
      [routerLink]="['/currency_exchanger/details', Currency.EUR, Currency.USD]"
    >
      {{ "buttons.EUR-USD_Details" | translate }}
    </button>
    <button
      class="bm-btn bm-main"
      [routerLink]="['/currency_exchanger/details', Currency.EUR, Currency.GBP]"
    >
      {{ "buttons.EUR-GBP_Details" | translate }}
    </button>
  </div>
</nav>
