@import "../abstracts/variables.scss";

// Fonts Colors
.primary-main {
  color: $primary-main;
}

// Generic
.w-100 {
  width: 100% !important;
}

.d-flex {
  display: flex;
}
.d-flex-column {
  display: flex;
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.mt-4 {
  margin-top: 1rem;
}

.flex-center-all {
  display: flex;
  justify-content: center;
  align-items: center;
}

.justify-content-between {
  justify-content: space-between;
}
.cursor-pointer {
  cursor: pointer;
}

.form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: $black;
  background-color: $white;
  background-clip: padding-box;
  border: 1px solid #00000047;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
