/**
* 
* Primary Colors
*
*/
$primary-main: #871e35;
$secondary-main: #e8bd38;
$bg-main: #ffffff;
$aliceblue: aliceblue;
$line-shade-gray: #e3e3e3;

/**
* 
* Text Colors
*
*/
$white: #ffffff;
$black: #000000;
/**
* 
* Backgrounds Colors
* 
*/
$border-main: #d0d9e2;
$border-light: #eff3f6;

/**
* 
* Shadows Colors
* 
*/
$shadow-main: #143250;
