@import "../abstracts/variables.scss";
/**
 * Creates a global mixin for setting Fonts Sizes/Weight .
 * 
 */

// Fonts
@mixin font($fontWeight: 400, $fontSize, $lineHeight: normal) {
  font-weight: $fontWeight;
  font-size: $fontSize;
  line-height: $lineHeight;
}

/**
 * Media Queries Screens.
 * Mobile - Table - Desktop.
 */

// Screen-Sizes
// $size-sm: 576px;
// $size-md: 768px;
// $size-lg: 992px;
// $size-xl: 1200px;
// $size-xxl: 1400px;

@mixin mobile {
  @media (max-width: #{$size-sm}) {
    @content;
  }
}

// from 576px to 768px
@mixin tablet {
  @media (min-width: #{$size-sm}) and (max-width: #{$size-md - .02px}) {
    @content;
  }
}

// from 768px to 992px
@mixin medium {
  @media (min-width: #{$size-md}) and (max-width: #{$size-lg - .02px}) {
    @content;
  }
}
