@import "./color-palette.scss";

// Headers
$header-height: 56px;
$body-height: calc(100vh - $header-height);

// Screen-Sizes
$size-sm: 576px;
$size-md: 768px;
$size-lg: 992px;
$size-xl: 1200px;
$size-xxl: 1400px;

/* Font Weight */
$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-semibold: 600;
$fw-bold: 700;
