@import "../../../../../assets/styles/abstracts/color-palette.scss";
.equion {
  align-self: center;
  height: 40px;
  width: 23%;
  margin-inline-end: 2%;
}

.amount {
  width: 75%;
  height: 40px;
}

.border-light {
  border: 1px solid $line-shade-gray;
  border-radius: 5px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  border-bottom: 1px solid $line-shade-gray;
  padding-bottom: 1rem;
}

.card {
  border: 1px solid $line-shade-gray;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 5px 5px 0 rgba(0, 0, 0, 0.08);
}
