<nav class="w-100">
  <p>{{ convertObj.from }}</p>
  <button
    class="bm-btn bm-secondary-opacity"
    [routerLink]="'/currency_exchanger'"
  >
    {{ "Back To Home" | translate }}
  </button>
</nav>

<bm-exchanger
  *ngIf="convertObj"
  [fromCurrency]="convertObj.from"
  [toCurrency]="convertObj.to"
  [value]="convertObj.value!"
  (convert)="onConvert($event)"
>
  <div *ngIf="convertObj?.value" class="d-flex mt-4">
    <div class="equion border-light flex-center-all">
      {{ convertObj.value }}
      {{ convertObj.from }} =
      {{ convertObj.amount }}
      {{ convertObj.to }}
    </div>

    <div class="amount border-light flex-center-all">
      <span> {{ convertObj.amount }} {{ convertObj.to }} </span>
    </div>
  </div>
</bm-exchanger>

<div class="card mt-4">
  <bm-historical-rates-chart 
  [currenciesData]="currenciesData"
  ></bm-historical-rates-chart>
</div>
